<!DOCTYPE html>
<html lang="en">
<head>
  <title>Squirrel Statistics</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
  .bg-1 {
    background-color: #5555;
    color: #000;
  }
  .bg-2 {
    background-color: #5555;
    color: #000;
  }
  .bg-3 {
    background-color: #5555;
    color: #000;
  }
  .bg-4 {
    background-color: #5555;
    color: #000;
  }
  .bg-5 {
    background-color: #5555;
    color: #000;
  }

  </style>
</head>
<body>

<div class="container-fluid bg-1 text-center">
  <h3>Squirrel Statistics</h3>
  <img src="https://upload.wikimedia.org/wikipedia/commons/f/f6/European_Red_squirrel.jpg"  alt="Bird" width="500" height="350">
    <p>In this dataset, we have a total of {{squirrels}} squirrels.</p>
</div>

<div class="container-fluid bg-2 text-center">
    <br>
            Age Statistics:

            <p> The number of Juvenile Age Squirrels are {{age_juvenile}}</p>
      		<p> The number of Adult Squirrels are {{age_adult}}</p>
  </div>

<div class="container-fluid bg-3 text-center">
  <br>
            Location Statistics:

      		<p>The number of Above Ground Squirrels: {{location_above}}</p>
      		<p>The number of Ground Plane Squirrels: {{location_plane}}</p>
  </div>

<div class="container-fluid bg-4 text-center">
  <br>
            Shift Statistics:
            <p> The number of squirrels found in the morning is {{shift_choices_am}}</p>
            <p> The number of squirrels found in the night is {{shift_choices_pm}}</p>
  </div>

<div class="container-fluid bg-5 text-center">
  <br>
            Color Statistics:
      		<p>The number of Black Squirrels: {{color_choices_black}}</p>
            <p>The number of Gray Squirrels: {{color_choices_gray}}</p>
            <p>The number of Cinnamon Squirrels: {{color_choices_cinnamon}}</p>
  </div>

</body>
</html>